@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/breakpoints';

.container {
  display: flex;
  margin-top: 12px;
  border-top: 1px solid rgba($gray-light, 0.3);
  height: calc(100% - 65px);
  position: relative;
}

.list {
  flex: 0 0 20%;
  position: relative;

  @include adaptive($mobile) {
    flex: 0 0 100%;
  }

  ul {
    height: 100%;
    overflow-y: auto;
  }
}

.list__item {
  @include transition(background-color);
  padding: 12px 6px;
  border-bottom: 1px solid rgba($gray-light, 0.3);
  cursor: pointer;
  display: block;
  color: $black;
  text-decoration: none;

  &.is-active {
    background-color: rgba($secondary-light, 0.1);
  }

  &:hover,
  &:global(.focus-visible) {
    background-color: rgba($secondary-light, 0.1);
  }
}

.list__item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.list__bottom {
  position: absolute;
  bottom: 0;
  right: 12px;
  margin-bottom: 8px;
  background-color: $white;
}
